@import "header";
@import "section";

footer{
  background-image: url("../image/buttom.jpg");
}
.title {
  background-image: url("../image/title.jpg");
  padding: 5px 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}
.bjys{
  background-color:#F8F2DA;
}